.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.container a {
  font-size: 1.4rem;
}


.logo {
    color: #1abc9c;
}

.content{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}


