* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: rgba(0,0,0, .9);
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: white;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: green;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"], [type="password"], [type="email"], select {
  border: none;
  width: 250px;
  padding: 10px 10px;
  border-radius: 2px;
  font-size: 1.1em;
  line-height: 1.2em;
  background-color: white;
}

select {
  height: 41px;
}

.form-input {
  margin-bottom: 15px;
}

button {
  width: 200px;
  padding: 7px 20px;
  border: none;
  border-radius: 1px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

.red {
  color: red;
}

.scale {
  transform: scale(2);
  transition: all .5s;
}


.friend-enter {
    transform: translateX(500px);
}
.friend-enter.friend-enter-active {
    transform: translateX(0);
    transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.friend-leave {
    transform: translateX(0px);
}
.friend-leave.friend-leave-active {
    transform: translateX(500px);
    transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}